<!-- newPost event triggers onNewPost method in posts 
we have created our own type of event called newPost using the EventEmitter -->

<app-post-form
  (newPost)="onNewPost($event)"
  (updatedPost)="onUpdatedPost($event)"
  [currentPost]="currentPost"
  [isEdit]="isEdit"
></app-post-form>
<h2>Posts</h2>
<div class="card mb-2" *ngFor="let post of posts">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h3>
          <a [routerLink]="'/post/' + post.id">
            {{ post.title }}
          </a>
        </h3>
      </div>
      <div class='d-flex flex-row align-items-start'>
        <button (click)="removePost(post)" class="btn btn-danger mr-2">
          <i class="fa fa-remove"></i>
        </button>
        <button (click)="editPost(post)" class="btn btn-light">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
    </div>

    <p>{{ post.body }}</p>
  </div>
</div>
